@import url("components/container.css")
@import url("components/banner.css ")
@import url("components/avatar.css ")
@import url("components/bouton.css")


body { font-family: "Josefin Sans", sans-serif; 
       font-size: 35px 
       background-color: rgb(50,50,50);}

h1 { font-family: "Oswald", sans-serif; 
      color: rgb(91, 47, 58  );}

h2 { font-family: "Gill Sans", sans-sérif; 
     color: rgb(216, 85, 117);}

h3 { font-family: "Josefin Sans", sans-serif; 
     color: rgb(238, 90, 126);}


img { height: 700px;
      width: 900px;
      border-radius: 3% }

div { background-color: rgb(200,200,200);
margin-left: 50px;
margin-right: 50px;
margin-top: 35px;
box-shadow: 5px 15px 25px rgba(0.1,0.1,0.1,0.3)}

a{ color: black; 
background-color: rgb(144, 225, 238);
margin-bottom: 10px;}
a:hover{ color: red; }


.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
	padding: 20px;
}
.card img {
  width: 400px;
  height: 300px;
  margin-left: 50px;
}
.card h3 {
  flex-grow: 1;
  padding-left: 100px;
}




